@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #101d22;
  color: #ffffff;
}

body {
  @apply bg-background-dark text-text-primary-dark font-display;
  margin: 0;
  min-height: 100vh;
}
